
.main-page-container {
    padding-top: 100px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;

    .form-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:50%;

        & .form-select {
            appearance: none;
            // Additional resets for further consistency
            // background-color: #2fa8cc;
            border: 5px solid #5DB37E;
            color:black;
            padding:10px;
            // font-size: 25px;
            margin: 0;
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            cursor: inherit;
            line-height: inherit;
            outline: none;
            cursor: pointer;

            & ::-ms-expand{
                display: none;
            }
        }
    
        & .form-container-address-data {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            & .text-input-container {
                & .input-header {
                    font-size: 50px;
                    font-weight: 300;
                    margin: 10px 0px 10px 0px;  
                }

                display: flex;
                flex-direction: column;
                & .start-place-input-container, .finish-place-input-container {
                    border-radius: 20px;
                    flex: 40%;
                    padding-bottom: 40px;

                    & input {
                        all: unset;
                        text-align: left;
                        padding: 5px;
                        margin-top: 5px;
                        font-size: 25px;
                        width: 100%;
                        border: none;
                        border-bottom: 5px solid #5DB37E;

                        transition: all 0.4s ease;
                        &::placeholder {
                            opacity: 0.35;
                        }
                        &:focus {
                            border-color: #2fa8cc;
                        }
                    }

                    & .wrong-data {
                        border-color: #c04242;
                    }
                }
            }

            & .input-submit-button {
                all: unset;
                background-color: #5DB37E;
                color:white;

                font-size: 25px;
                width:60%;
                height: 40px;
                margin:auto;
                border-radius: 5px;
                text-align: center;

                cursor: pointer;
            }
        }
    }

    & .car-world-image {
        // width: 40%;
        // height: 40vh;
        width: 50%;
        background-position: center;
        background-size: cover;
        background-image: url("../images/carWorld.png");
    }
}

.error-message {
    color: #c04242;
    font-size: 20px;
}

@media (max-width: 1100px) {
    .main-page-container {
        flex-direction: column;

        & .form-container {
            width: 100%;
        }

        & .form-container-address-data {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .main-page-container {
        margin: 0px;
        width: 100%;
    }
    .form-container {
        width: 80%;
    }

    .form-container-address-data {
        width: 90%;
    }
}